@import '../base/utilities';
@import '../abstracts/mixin';


.card {
    @include flexMiddle;
    justify-content: center;
    max-width: 30rem;
    padding: 10rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
    font-size: 1.8rem;
    color: #171717;
    text-decoration: none;
    text-transform: capitalize;
    box-shadow: 0 2px 2px #CCC;
    border: 2px dashed transparent;
    transition: all 0.5s;

    &:hover {
        border-color: #CCC;
        text-decoration: underline;
    }
}
