<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/pages/home.css">
    <title>CSS playground</title>
</head>
<body>
    <div class="flex flex-wrap">
        <a href="/nexter" class="card">nexter</a>
        <a href="/partswise" class="card">partwise</a>
        <a href="/mb-remodeling" class="card">MB remodeling</a>
    </div>
</body>
</html>