<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/pages/mb-remodeling.css">
    <title>MB - Remodeling</title>
</head>
<body class="relative">
    <header class="flex items-center">
        <svg class="mr-3" preserveAspectRatio="xMidYMid meet" data-bbox="20.25 31.386 160 135.979" viewBox="20.25 31.386 160 135.979" height="30" width="30" xmlns="http://www.w3.org/2000/svg" data-type="color" role="img" aria-labelledby="svgcid-9r4kk6-lfgy6d"><defs><style>#comp-kbanqr04 svg [data-color="1"] {fill: #A26028;}</style></defs><title id="svgcid-9r4kk6-lfgy6d">Homepage</title>
            <g>
                <path fill="#B46A2A" d="M91.47 42.012L80.845 31.386 20.25 92.439v74.926h15.027V99.744l-.174-.085L91.47 42.012z" data-color="1"></path>
                <path fill="#B46A2A" d="M130.098 42.04l.028-.028L119.5 31.386 52.313 99.721l.022.023h-.022v67.621h99.159v-15.027l-.495-52.594h-.023l.023-.023-32.186-30.839-10.248 10.248 27.407 26.713v46.495H67.339V105.87l52.149-53.039 45.822 44.506-.175.085.088 69.943h15.027V92.439L130.098 42.04z" data-color="1"></path>
            </g>
        </svg>
        <h1>M&#38;B Remodeling</h1>
        <nav class="flex ml-auto">
            <ul class="grid nav-list">
                <li class="nav-item"><a href="#">Home</a></li>
                <li class="nav-item"><a href="#">About</a></li>
                <li class="nav-item"><a href="#">Services</a></li>
                <li class="nav-item"><a href="#">Work</a></li>
                <li class="nav-item"><a href="#">Contact</a></li>
            </ul>
            <span class="nav-item my-3 contact">123-456-7800</span>
        </nav>
    </header>
    <main class="container">
        <section class="section hero flex-column justify-content-center px-14 pb-10">
            <h2 class="title">Exceptional Home &amp;<br>Remodeling &amp;<br>Renovations &amp;</h2>
            <button class="btn font-extralight curor-pointer btn-hero">get a free estimation </button>
        </section>
        <section class="flex flex-wrap my-14 px-14 about-us">
            <div class="flex-1 about-us__image"></div>
            <div class="flex-column flex-1 about-us__content">
                <div class="about-us__content">
                    <h3 class="title mt-0 mb-4">The leading Bay Area Remodeling Company</h3>
                    <p class="font-extralight paragraph mb-8">
                        I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.
                    </p>
                    <button class="btn font-extralight cursor-pointer">more about us</button>
                </div>
            </div>
        </section>
        <section class="why-us py-14 px-14">
            <h3 class="mt-0 mb-8 text-center title">Why Choose Us</h3>
            <div class="flex flex-wrap">
                <div class="flex-1 text-center">
                    <h4 class="text-primary">Easy <br> Financing</h4>
                    <p class="font-extralight mx-auto">I'm a paragraph. Click here to add your own text.</p>
                </div>
                <div class="flex-1 text-center">
                    <h4 class="text-primary">Free, At Home <br> Consultations</h4>
                    <p class="font-extralight mx-auto">I'm a paragraph. Click here to add your own text.</p>
                </div>
                <div class="flex-1 text-center">
                    <h4 class="text-primary">Award Winning <br> Service</h4>
                    <p class="font-extralight mx-auto">I'm a paragraph. Click here to add your own text.</p>
                </div>
                <div class="flex-1 text-center">
                    <h4 class="text-primary">Licensed &amp; <br> Insured</h4>
                    <p class="font-extralight mx-auto">I'm a paragraph. Click here to add your own text.</p>
                </div>
            </div>
        </section>
        <section class="section services py-14 px-14 bg-primary">
            <h3 class="mt-0 mb-8 text-center title">Our Services Include</h3>
            <div class="flex">
                <div class="service services__kitchens">
                    <span class="relative z-1">Kitchens</span>
                </div>
                <div class="service services__bathrooms">
                    <span class="relative z-1">Bathrooms</span>
                </div>
                <div class="service services__interiors">
                    <span class="relative z-1">Interiors</span>
                </div>
            </div>
            <div class="flex justify-content-center mt-8">
                <button class="btn font-extralight cursor-pointer">See all services</button>
            </div>
        </section>
        <section class="section px-14 py-14 customers">
            <h3 class="mt-0 mb-8 text-center title">Satisfied Customers</h3>
            <div class="flex flex-wrap">
                <div class="flex-1 text-center">
                    <h4>&rdquo;</h4>
                    <p class="font-extralight mx-auto px-14">“I'm a testimonial. Click to edit me and add text that says something nice about you and your services. Let your customers review you and tell their friends how great you are.”</p>
                    <h5 class="text-primary">Dave Reddington</h5>
                </div>
                <div class="flex-1 text-center">
                    <h4>&rdquo;</h4>
                    <p class="font-extralight mx-auto px-14">“I'm a testimonial. Click to edit me and add text that says something nice about you and your services. Let your customers review you and tell their friends how great you are.”</p>
                    <h5 class="text-primary">Amelia Banks</h5>
                </div>
                <div class="flex-1 text-center">
                    <h4>&rdquo;</h4>
                    <p class="font-extralight mx-auto px-14">“I'm a testimonial. Click to edit me and add text that says something nice about you and your services. Let your customers review you and tell their friends how great you are.”</p>
                    <h5 class="text-primary">Kenny Stutes</h5>
                </div>
            </div>
        </section>
        <section class="section">Contact</section>
        <footer>Footer</footer>
    </main>
</body>
</html>
