<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partswise</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/pages/partswise.css">
</head>
<body>
    <div class="wrapper">
        <div class="navbar">
            <div class="navbar__logo">
                <img alt="logo" src="/images/partswise/logo@2x.png">
            </div>
            <ul class="navbar__nav">
                <li class="navbar-nav__item"><a href="#" class="navbar-nav__link">about us</a></li>
                <li class="navbar-nav__item"><a href="#" class="navbar-nav__link">product overview</a></li>
                <li class="navbar-nav__item"><a href="#" class="navbar-nav__link">visions missions values</a></li>
                <li class="navbar-nav__item"><a href="#" class="navbar-nav__link">find a distributer</a></li>
                <li class="navbar-nav__item"><a href="#" class="navbar-nav__link">contact us</a></li>
            </ul>
        </div>
        <div class="container">
            <div class="form">
                <h3 class="form__header">Login</h3>
                <ul class="form__tabs">
                    <li class="form-tabs__item form-tabs__item--active"><button class="form-tabs__btn">Returning Customer</button></li>
                    <li class="form-tabs__item"><button class="form-tabs__btn">New Customer - ABN Holders Only</button></li>
                </ul>
                
                <div class="form__control">
                    <input type="text" name="email" placeholder="Email Address" autocomplete="off" class="form-control__input">
                </div>
                <div class="form__control">
                    <input type="password" name="password" placeholder="Password" class="form-control__input">
                </div>
                <div class="form__actions">
                    <button class="form-action__btn form-action__btn--contraint">login</button>
                    <a class="form-action__btn form-action__btn--link">forgot password?</a>
                </div>
            </div>
            <div class="banner">
                <img src="/images/partswise/banner@2x.png" alt="banner" class="banner__img">
            </div>
        </div>
        <div class="footer">
            <ul class="footer__nav">
                <li class="footer-nav__item"><a href="#" class="footer-nav__link">About Us</a></li>
                <li class="footer-nav__item"><a href="#" class="footer-nav__link">Product Overview</a></li>
                <li class="footer-nav__item"><a href="#" class="footer-nav__link">Visions Missions</a></li>
                <li class="footer-nav__item"><a href="#" class="footer-nav__link">Find a Distributer</a></li>
                <li class="footer-nav__item"><a href="#" class="footer-nav__link">Contact Us</a></li>
            </ul>
            <p class="footer__copyright">&copy; Partswise. All rights reserved.</p>
        </div>
    </div>
</body>
</html>