$fontWeights: (
    "thin": 100, 
    "extralight": 200, 
    "light": 300,
    "normal": 400,
    "medium": 500,
    "semibold": 600,
    "bold": 700,
    "extrabold": 800,
    "black": 900,
);

$alignments: left, center, right;

@each $name, $weight in $fontWeights {
    .font-#{$name} {
        font-weight: $weight;
    }
}

@each $alignment in $alignments {
    .text-#{$alignment} {
        text-align: #{$alignment};
    }
}
