
@mixin flexMiddle {
    display: flex;
    align-items: center;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

@mixin response($width) {
    @media (max-width: $width) { @content }
}

