$color-primary: #C69963;
$color-primary-dark: #B28451;

$color-secondary: #101D2C;

$color-grey-light-1: #F9F7F6;
$color-grey-light-2: #AAA;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #605D4B;


